#designs {
	width: 100%;
	max-width: 1400px;
	margin: 20px 0px;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	.design {
		min-width: 300px;
		height: 450px;
		padding: 10px;
		.img {
			background-size: contain;
			background-repeat: no-repeat;
			min-width: 300px;
			height: 100%;
			position: relative;
			transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
		}
		&:hover {
			.img {
				transform: perspective(5000px) rotateY(var(--rotateY))
					rotateX(var(--rotateX));
				transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
			}
		}
	}
}
